# Environment variables for docker-compose command

# Building
ALPINE_VERSION=latest
IMAGE_NAME=local/wangxian/alpine-mysql

# Running
CONTAINER_NAME=mysql
MYSQL_ROOT_PASSWORD=111111
MYSQL_USER=tony
MYSQL_PASSWORD=dpa*12d
MYSQL_DATABASE=admin

HOST_ADDRESS=3306
