# Custom configuration file, please be aware that changing options here may break things

[mysqld_safe]
nice = 0

[mysqld]
user = root
port = 3306
datadir = /app/mysql/data
log-bin = /app/mysql/log/binlog

# disable binlog
# skip-log-bin

character-set-server = utf8mb4
max_connections = 100
connect_timeout = 5
wait_timeout = 600
max_allowed_packet = 16M
thread_cache_size       = 128
sort_buffer_size = 4M
bulk_insert_buffer_size = 16M
tmp_table_size = 32M
max_heap_table_size = 32M
binlog_format=mixed
expire_logs_days = 10
max_binlog_size = 100M

#
# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit = 128K
query_cache_size = 64M

# for more write intensive setups, set to 2=DEMAND 1=ON 0=OFF
# query_cache_type = DEMAND

# we do want to know about network errors and such
log_warnings = 2

# Enable the slow query log to see queries with especially long duration
# 0 | 1
# slow_query_log=1

slow_query_log_file	= /app/mysql/mysql-slow.log
long_query_time = 10

# one second log one time
log_slow_rate_limit = 1000
log_slow_verbosity	= query_plan

#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
default_storage_engine = InnoDB

innodb_buffer_pool_size = 256M
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
